
<html>
<style>
.p1{
  font-family: "Times New Roman", Times, serif;
  font-size: 150%;
}
th{
  font-family: Arial, Helvetica, sans-serif;
  color: #40E0D0;
  text-align: center;
}

</style>

<body>
<table border="1" class="dataframe">

  <thead>
    <caption class="p1">Roommates</caption>
    <tr style="text-align: right;">
      <th></th>
      <th>Person1.Name</th>
      <th>Person2.Name</th>
      <th>Apartment.Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Rachel</td>
      <td>Monica</td>
      <td>20</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Joey</td>
      <td>Chendler</td>
      <td>19</td>
    </tr>
  </tbody>
</table>
</body>
</html>
