<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person&Apartmernt</title>
</head>
<body>
    <h2>Input nodes information</h2>

               <form method="POST">
               <label for="Id">ID Person:</label><br>
               <input type="text" name="Id""><br>
               <label for="Age">Age Person:</label><br>
               <input type="text" name="Age""><br>
               <label for="Gender">Gender Person:</label><br>
               <input type="text" name="Gender"">
               <br><br>
               <label for="Apartment">Apartment Number:</label><br>
               <input type="text" name="Apartment"">
               <br><br>
               <input type="submit" value="Submit">
               </form>

</body>
</html>