<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person&Person</title>
</head>
<body>
          <h2>Input nodes information</h2>

          <form method="POST">
            <label for="Id">ID Person1:</label><br>
            <input type="text" name="Id""><br>
            <label for="Age">Age Person1:</label><br>
            <input type="text" name="Age""><br>
            <label for="Gender">Gender Person1:</label><br>
            <input type="text" name="Gender"">
            <br><br>
            <label for="Id2">ID Person2:</label><br>
            <input type="text" name="Id2""><br>
            <label for="Age2">Age Person2:</label><br>
            <input type="text" name="Age2""><br>
            <label for="Gender2">Gender Person2:</label><br>
            <input type="text" name="Gender2"">
            <br><br>
            <input type="submit" value="Submit">
          </form>

</body>
</html>